@mixin first {
    top: 0;
    left: 0;
    transform: rotate(-6deg);
    z-index: 30;
}

@mixin second {
    top: 7%;
    left: 8%;
    transform: rotate(4deg);
    z-index: 20;
}

@mixin third {
    top: 13%;
    left: 15%;
    transform: rotate(12deg);
    z-index: 10;
}

@mixin fourth {
    top: 74px;
    left: 66px;
    transform: rotate(18deg);
}

#carousel-about {
    img:nth-child(1) {
        @include first();
        animation: rotate 8s infinite;
        animation-delay: 1s;

        @keyframes rotate {
            3% {
                @include first();
                opacity: 0;
            }

            12% {
                opacity: 0;
            }

            16% {
                @include fourth();
            }

            25% {
                opacity: 0;
            }

            33% {
                @include third();
                opacity: 1;
            }

            66% {
                @include second();
                z-index: 20;
            }

            100% {
                @include first();
                opacity: 1;
            }
        }
    }

    img:nth-child(2) {
        @include second();
        animation: rotate2 8s infinite;
        animation-delay: 1s;

        @keyframes rotate2 {
            33% {
                @include first();
                z-index: 30;
            }

            34% {
                opacity: 1;
            }

            36% {
                @include first();
                opacity: 0;
            }

            50% {
                @include fourth();
            }

            60% {
                opacity: 0;
            }

            66% {
                @include third();
                opacity: 1;
            }

            100% {
                @include second();
                z-index: 20;
            }
        }
    }

    img:nth-child(3) {
        @include third();
        animation: rotate3 8s infinite;
        animation-delay: 1s;

        @keyframes rotate3 {
            33% {
                @include second();
            }

            66% {
                @include first();
            }

            67% {
                opacity: 1;
            }

            70% {
                @include first();
                opacity: 0;
            }

            80% {
                @include fourth();
            }

            90% {
                opacity: 0;
            }

            100% {
                @include third();
                opacity: 1;
            }
        }
    }
}