.confirm{
  .carousel-container{
    overflow: hidden;
  }
  .carousel__slider {
    // padding-left: 10rem;
    // padding-right: 10rem;
    @media screen and (max-width: 768px){
      // padding-left: 15%;
      // padding-right: 15%;
    }
  }
  
  .carousel__slide-focus-ring{
    display: none;
  }

  .carousel__dot{
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 50%;
    border: 2px solid white;
    color: transparent;
    outline: none !important;
  }

  .carousel__dot--selected{
    background-color: white;
  }
  
  .carousel__slider-tray{
    display: flex;
    gap: 2rem !important;
    min-height: 275px;
    max-height: 275px;
    @media screen and (max-width: 768px){
      min-height: 300px;
      max-height: 300px;
    }
  }

  .carousel__slider-tray-wrapper{
    max-width: 72rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: auto;
  }

  .carousel__slider {
    overflow: visible;
  }
  
  .carousel__inner-slide {
    min-height: 275px;
    max-height: 275px;
    @media screen and (max-width: 768px){
      min-height: 300px;
      max-height: 300px;
    }
  }
}
