@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AkiraExpanded";
  src: url("./assets/fonts/Akira-Expanded.otf");
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: "PlusJakartaSansBold";
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "SedgwickAve";
  src: url("./assets/fonts/SedgwickAve-Regular.ttf");
}


html {
  @media screen and (max-width: 1280px) {
    font-size: 90%;
  }

  @media screen and (max-width: 992px) {
    font-size: 85%;
  }

  @media screen and (max-width: 768px) {
    font-size: 80%;
  }
}

main {
  @apply font-jakarta;

  &>div:first-child {
    padding: 9rem 1rem 6rem;
  }
}